<home-title primary="The secure way" secondary="Join today."></home-title>
<div class="signin">
  <form [formGroup]="form" (submit)="submitForm()" class="signin__form">
    <label for="inputEmail">Email</label>
    <input id="inputEmail" type="text" formControlName="email" />

    <label for="inputPassword">Password</label>
    <input id="inputPassword" type="text" formControlName="password" />

    <label for="inputConfirmPassword">Confirm password</label>
    <input
      id="inputConfirmPassword"
      type="text"
      formControlName="confirmPassword"
    />

    <button class="create-button button" type="submit">Continue</button>
  </form>
</div>
