:root {
  --font-family-serif: Lyon-Text, Georgia, YuMincho, "Yu Mincho",
    "Hiragino Mincho ProN", "Hiragino Mincho Pro", "Songti TC", "Songti SC",
    "SimSun", "Nanum Myeongjo", NanumMyeongjo, Batang, serif;
  --font-family-sans: inter-var, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Helvetica, "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji",
    "Segoe UI Symbol";
}

:root {
  --color-border-dark: #2f3336;
  --color-button-background-bright: #fff;
  --color-page: #000;
  --color-primary-blue: #1d9bf0;
  --color-text-dark-blue: #0f1419;
  --color-text-bright: #fff;
  --color-text-dark: #1a1a19;
  --color-text-dark-alt: #71767b;
}

@font-face {
  font-family: inter-var;
  src: url(https://www.notion.com/_next/static/media/Inter-Var.730e8169.woff2);
}

@font-face {
  font-family: Lyon-Text;
  src: url(https://www.notion.com/_next/static/media/LyonText-Regular-Web.d7bfb4be.woff2);
}

html,
body {
  height: 100%;
  font-family: var(--font-family-serif);
  background: var(--color-page);
}

body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

input:focus-visible {
  outline-width: 0;
}
